@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* transition: background-color 2 ease-in-out 0s; */
  /* background-color: transparent; */
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
